@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

.html, .body{
  width: 100%;
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: white;
}

body{
  font-family: 'Karla', sans-serif;
  color: white;
  letter-spacing: 0;
  height: 3000px;
  padding-top:  90px;
}

#header{
  height: 90px;
  width: 100%;
  background-color: #151515;
  margin: 0;
  padding: 0;
  position: fixed;
  transition: top 0.4s ease-in-out;
  top: 0;
}

.headertab{
  height: 52px;
  width: 100%;
  border-bottom: 1px solid #4f4949;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.headertab div{
  display: inline-block;
}

.headertab img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.game{
  float: left;
  height: 52px;
  width: 54px;
  margin-left: 4%;
  border: 1px solid #4f4949;
  border-top: 0px;
}

#phonemenu{
  display: none;
}

.logoo{
position: absolute;
left: 0;
right: 0;
margin: auto;
width: 50%;
height: 52px;
}

.search{
  float: right;
  height: 52px;
  width: 52px;
  margin-right: 4%;
  border: 1px solid #4f4949;
  border-top: 0px;
}

.search img{
  height: 22px;
  width: 22px;
  padding:  15px;
  opacity: 0.5;
}

.game img{
  height: 32px;
  width: 32px;
  padding: 11px;
  opacity: 0.5;
}

.search img:hover{
  opacity: 1.0;
  height: 26px;
  width: 26px;
  padding: 13px;
  padding-bottom: 11px;
  border-bottom: 2px solid #f3ba22;
  transition: 0.3s;
}
.game img:hover{
  opacity: 1.0;
  height: 36px;
  width: 36px;
  padding: 9px;
  padding-bottom: 5px;
  border-bottom: 2px solid #f3ba22;
  transition: 0.3s;
}

.headermenu{
  width: 100%;
  height: 37px;
  position: relative;
  list-style: none;
  text-align: center;
}

.headermenu ul{
  margin-top: 7px;
}

.headermenu li{
  display: inline;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 12px;
  margin-left: 50px;
}

.headermenu li:hover{
  border-bottom: 3px solid #f3ba22;
  padding-bottom: 9px;
  transition: 0.3s;
}

.bg-modal{
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  overflow-x: hidden;
  overflow-y: hidden;
}

.modal-content{
}

.close{
  position: absolute;
  font-size: 50px;
  color: white;
  transform: rotate(45deg);
right: 350px;
top: 160px;
cursor: pointer;
}

@media screen and (max-width:850px) {
  body{
    padding-top: 52px;
  }
#header{
  height: 52px;
}
.headermenu{
  display: none;
}
#phonemenu{
  display: inline;
}
#pacman{
  display: none;
}
}
.mySlides{
  display: none;
}
